.jumbotron{
    margin-top: 50px;
    background-image: url('../images/sman4.jpg');
    background-size: cover;

    height: 350px;
    background-repeat: no-repeat;
    

}
.jumbotron .display-4{
    font-size: 50px;

}
.navbar-nav a{
    font-weight: bold; 
    margin-left: 10px;
  
}
.menu-tengah{
    max-width: 600px;
    height: 100px;
    background-color: white;
    margin: -80px auto 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
    
}
hr.garis-judul{
    width: 200px;
    border:2px solid gray;
}

.bg-gray{
    background-color: #e2dede;
}
section{
    min-height: 450px;
}
#footer{
    height: 100px;
    margin-top: -22px;
    line-height: 100px;
    text-align: center;
}
.list-unstyled{
    border: 1px solid black;
}
